@model OrderDetailModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Product  List </h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="AddProduct"><i class="fas fa-plus"></i> &nbsp; Create New Product</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="orderId" class="table table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr class="table-info">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                          
                            <th>Order Status</th>
                            <th>Amount</th>   
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr class="table-info">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                            
                            <th>Order Status</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


<!-- /.modal -->
@section Scripts{
    <script>
        $(function () {
            $("#orderId").DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Admin/Order/GetOrder"
            });
        });
    </script>

}