@model int
<div class="container row">
    <div class="col-12 text-center">
        <h3 class="text-primary text-center">Order Submitted Successfully</h3><br />
        <img src="~/images/wallpaer1.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a as soon as possible !
        <br />
        Your Order Number is : @Model
    </div>
</div>
