@model RegisterModel

@{ ViewData["Title"] = "Registration"; }

<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form asp-controller="Register" asp-action="Registration" method="post">
                       
                        <div class="py-2">
                            <input asp-for="Name" placeholder="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="py-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> +1</span>
                            </div>
                            <input asp-for="PhoneNumber" type="text" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="StreetAddress" placeholder="Street Address" class="form-control" />
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="City" placeholder="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input asp-for="State" placeholder="State" class="form-control" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="PostalCode" placeholder="Postal Code" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>
                        
                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">Register</button>
                        </div>
                    </form>                 
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
