@* @model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="Container mt-5">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" id="logreg-forms">
            <form id="account" method="post">
                <div class="form-group">
                    <input asp-for="Email" placeholder="Email..." type="email" class="mb-1 form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Password" placeholder="Password..." type="password" class="form-control" />

                </div>
                <div class="form-group">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                    </div>
                    <div class="form-group text-center">
                        <a asp-action="Registration" asp-controller="Register"
                           class="btn btn-primary text-white"><i class="fas fa-user-plus"></i> Register as a new user</a>
                    </div>
                </div>


                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
        <div class="col-sm-2">
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@

@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10" id="logreg-forms">
            <form id="account" method="post">
                <div class="form-group">
                    <input asp-for="Email" placeholder="Email..." type="email" class="mb-2 form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="Password" placeholder="Password..." type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                </div>
                <div class="form-group text-center">
                    <a asp-action="Registration" asp-controller="Register" class="btn btn-primary text-white"><i class="fas fa-user-plus"></i> Register as a new user</a>
                </div>
                <div class="form-group text-center mb-3">
                    <a href="#" class="btn btn-danger text-white"><i class="fab fa-google"></i> Log in with Google</a>
                </div>
                <div class="form-group text-center mb-3">
                    <a href="#" class="btn btn-primary text-white"><i class="fab fa-facebook-f"></i> Log in with Facebook</a>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
