
@model LoginModel

@{ ViewData["Title"] = "Log in"; }

<div id="logreg-forms">
   
    <form id="account" method="post">
     
        <input asp-for="Email" placeholder="Email..." type="email" class="mb-1 form-control" />
        <input asp-for="Password" placeholder="Password..." type="password" class="form-control" />
        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Sign in</button>

       
        
        <div asp-validation-summary="All" class="text-danger"></div>
        <a asp-action="Registration" asp-controller="Register"
           class="btn btn-primary text-white"><i class="fas fa-user-plus"></i> Register as a new user</a>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
