<footer class="bg-dark text-white pt-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About BookSell</h5>
                <p>BookSell is your go-to platform for buying and selling books. We offer a wide range of books across different genres, ensuring there's something for everyone.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> 123 Book St, Bibliopolis, BK 45678</li>
                    <li><i class="fas fa-phone"></i> +1 234 567 890</li>
                    <li><i class="fas fa-envelope"></i> support@booksell.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled d-flex">
                    <li><a href="#" class="text-white mr-4"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="text-white mr-4"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="text-white mr-4"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                &copy; @DateTime.Now.Year BookSell. All rights reserved.
            </div>
        </div>
    </div>
</footer>