@model CreateCoverModel
@{
    ViewData["Title"] = "AddCoverType";
}

<h1>AddCoverType</h1>



<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
            </div>
            <form asp-action="AddCoverType" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}